<%= link_to "クレジットカード(記事)", perfumes_credit_path, class: "link" %>
<%= link_to "確定申告(記事)", perfumes_path, class: "link" %>
<%= link_to "NISA(記事)", perfumes_nisa_path, class: "link" %>

<div class="top">
  <div class="title">
      <h2>大学生のための</h2><br>
      <h2>　　Financial Café</h2>
  </div>
  <div class="image">
         <%= image_tag 'S3_Date (1).jpg', :size => '500x440' %>
  </div>
</div>
<div class="article">
      <li>記事</li>
</div>
<div class="artticle1">
      <li><%= link_to "クレジットカード", new_perfume_path, class: "link" %> </li>
</div>